.interestingFactContainer {
  width: 100%;

  .interestingFact__title {
    width: auto;
    padding: 4rem 1rem 3rem 1rem;

    font-weight: 500;
    color: white;
    background-color: black;
  }

  .interestingFact__question {
    width: auto;
    padding: 4rem 1rem 2rem 1rem;

    font-weight: 200;
    color: white;
    background-color: rgb(33, 116, 131);

    height: 50px;
  }

  .interestingFact__answer {
    width: auto;
    padding: 2rem 1rem 2rem 1rem;

    font-size: 16px;
    font-weight: 200;
    line-height: 2rem;

    color: white;
    background-color: rgba(33, 116, 131, 0.8);

    height: 220px;
  }

  .interestingFact__hideAnswerContainer {
    width: auto;
    padding: 2rem 1rem 2rem 1rem;
    height: 220px;

    background-color: rgba(33, 116, 131, 0.8);
  }

  .interestingFact__buttonsContainer {
    width: auto;
    padding: 1rem 1rem 3rem 1rem;
  }

  .interestingFact__button {
    color: white;
    background-color: rgb(0,0,0,1);

    padding: 0.5rem 1rem 0.5rem 1rem;
    border-style: solid;
    border-color: white;

    cursor: pointer;
  }

  .interestingFact__button:hover {
    color: rgb(54, 191, 215);
  }
}

@media screen and (min-width: 1000px) {
  .interestingFactContainer { 

    .interestingFact__title {
      font-size: 28px;
    }

    .interestingFact__question {
      font-size: 22px;
    }

    .interestingFact__answer {
      font-size: 20px;
    }

    .interestingFact__button {
      font-size: 16px;
      padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    }
  }
}

@media screen and (min-width: 1440px) {
  .interestingFactContainer { 

    .interestingFact__title {
      font-size: 35px;
    }

    .interestingFact__question {
      font-size: 28px;
    }

    .interestingFact__answer {
      font-size: 23px;
      line-height: 3rem;
    }

    .interestingFact__button {
      font-size: 16px;
      padding: 0.8rem 1.5rem 0.8rem 1.5rem;
    }
  }
}