:root {
  --dark-red-color: rgb(184,56,33);
}
* {
  box-sizing: content-box;
  margin: 0rem;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  text-decoration: none;
}

.nav-bar {
  width: auto;
  padding: 1rem 1rem 1.5rem 1rem;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-bar__website-title {
  color: rgb(33, 116, 131);
}

.nav-bar__right-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-bar__link {
  color: black;
}

.nav-bar__link--margin-right {
  margin-right: 1rem;
}